{% extends 'Dashboard.html' %}

{% block PageContent %}


        <main class="content-wrapper">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell--span-12">
                <div class="mdc-card">
                  {% if user.is_authenticated %}

                  <h6>Welcome {{user.username}} to your Care Giver Dashboard</h4>
                 
                  {% endif %}
                  
                 </div>
                  <div class="mdc-layout-grid__inner">
                 <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
                  <div class="mdc-card info-card info-card--success">
                    <div class="card-inner">
                      <a href="careGiverBioData"><h5 class="card-title"> View/Edit Profile</h5> </a>
                        
                      <div class="card-icon-wrapper">
                        <i class="material-icons">person</i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
                  <div class="mdc-card info-card info-card--danger">
                    <div class="card-inner">
                      <a href="careGiverBiodata"> <h5 class="card-title">View Schedules</h5> </a>
                       
                      <div class="card-icon-wrapper">
                        <i class="material-icons">event_available</i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet">
                  <div class="mdc-card info-card info-card--primary">
                    <div class="card-inner">
                      <a href="careGiverBiodata"> <h5 class="card-title">Messages</h5> </a>
                      
                      <div class="card-icon-wrapper">
                        <i class="material-icons">message</i>
                      </div>
                    </div>
                  </div>
                </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>

        {% endblock %}
        
       